@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
* {
    background-color: #F6F1E4;
}

span {
    background: none;
}

h3,
h1 {
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 800;
    color: #444;
    line-height: 1.149em;
}

h2 {
    font-family: "Amatic SC", cursive;
}

body {
    background-color: #F6F1E4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: F6F1E4;
    color: #fff;
}

.logo img {
    height: 50px;
}

.nav-links {
    display: none;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Baloo Chettan 2', cursive;
}

link {
    text-decoration: none;
}

.nav-links ul {
    display: flex;
    text-decoration: none;
    background: none;
}

.nav-links li {
    color: black;
    text-decoration: none;
    font-size: 20px;
    gap: 3px;
    background: none;
    font-weight: 500;
}

.no-bullets {
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: row;
    }
}

.Section1 {
    margin: auto;
}

.nav-header {
    background-color: white;
    color: black;
}

.fun-center {
    margin: 20px auto;
}

.fun--center--flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fun-center h2 {
    text-align: center;
    color: #54595F;
    margin-top: 14px;
}

.fun-center h1 {
    text-align: center;
    color: #54595F;
    margin: 20px 0px 20px 0px;
}

.first-color {
    color: #C3E1DB;
}

.second-color {
    color: #54595F;
}

.third-color {
    color: #F47647;
}

.swiper-pagination {
    margin: 10px 0px;
    background: none;
}

.swiper-button-next,
.swiper-button-prev {
    background: none;
    display: none;
}

.open-session {
    margin-left: 20px;
}

.flexbox img {
    height: 100%;
    width: 100%;
}

.flexbox {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.flexbox img {
    border-radius: 4%;
}

.flexbox h3 {
    margin: 10px 0px;
    color: #54595F;
    text-align: center;
}

.flexbox p {
    color: #7A7A7A;
    text-align: center;
    margin: 10px auto;
}

.container {
    width: 80%;
    margin: auto;
}

.container img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.new-events {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.new-events h2 {
    text-align: center;
    color: #54595F;
    margin-top: 14px;
    font-family: "Amatic SC", cursive;
}

.event-video {
    position: relative;
}

.kids-image img {
    width: 100%;
    margin: auto;
    padding: 0%;
}

.event-video a {
    position: relative;
    top: 50%;
    left: 50%;
}

.play--button img {
    position: absolute;
    bottom: -32px;
    top: -277px;
    left: -29px;
    right: 11px;
    background: none;
}

.event-text {
    padding: 10%;
}

.event-text h2 {
    text-align: start;
    font-family: cursive;
}

.event-text h1 {
    margin: 10px auto;
}

.event-text p {
    color: #54595F;
    margin: 0px 0px 20px 0px;
    background: none;
}

.find-events {
    border-radius: 5%;
    margin: 36px 0px;
    font-size: 16px;
}

.find-events--text {
    padding: 10px;
    background-color: #ffd7cd;
    border-radius: 1px;
    margin: 30px 0px;
    color: #ec6830;
}

.elementary-image {
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    background-color: none;
    padding: 0px;
}

.elementary-image img {
    height: auto;
    max-width: 100%;
    border: none;
    box-shadow: none;
    background-color: #fff;
}

.event-text span {
    background: none;
}

.bottom-margin img {
    margin-top: -31px;
}

.blank {
    background: none;
    z-index: 1;
    display: block;
    position: absolute;
    margin: 0px 0px 0px 0px;
}

.whitespace {
    background: none;
}

.footer-main-sec {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sec-container {
    width: 40%;
    color: black;
}

.copyright {
    margin: 20px auto;
    text-align: center;
    font-size: 16px;
    color: black;
}

.orange {
    color: #ec6830;
}

.copyright p {
    background-color: #fff;
    margin-top: 56px;
}

.copyright a {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 26px;
    background: none;
}

.sec-container h4 {
    margin: 69px auto 0;
}

.empty-space {
    height: 40px;
}

.hidden {
    display: none;
}

.event-play-section {
    padding: 10%;
}

.event-play-section h2 {
    text-align: start;
    font-family: cursive;
}

.event-play-section h1 {
    margin: 10px auto;
}

.event-play-section p {
    color: #54595F;
    margin: 0px 0px 20px 0px;
    background: none;
}

.event-play-section h2,
.event-text h2,
h1 {
    background: none;
}

.event-text,
.event-play-section span {
    background: none;
}

.find-events {
    background: none;
}

.section-title {
    color: black;
}

.experience h3 {
    color: black;
    background: none;
}

.experience--bar {
    margin: 10px auto;
    height: 9px;
    color: black;
    background: rgb(255, 215, 205);
    width: 100%;
    border-radius: 16px;
}

.exp-flexbox {
    display: flex;
    justify-content: space-between;
    background: none;
}

.percentage {
    color: black;
    background: none;
}

.create-flexbox {
    display: flex;
    justify-content: space-between;
    background: none;
}

.event-play-section {
    background: #fff;
}

.creativity--bar {
    margin: 10px auto;
    margin-left: 0px;
    height: 9px;
    color: black;
    background: rgb(255, 215, 205);
    width: 70%;
    border-radius: 16px;
}

.percentage-70 {
    color: black;
    margin: 4px 30% 0px;
    background: none;
}

.creativity {
    background-color: none;
}

.creativity h3 {
    color: black;
    background-color: none !important;
}

.elementary-image-2 {
    display: none;
}

.happy-parents h3,
h2 {
    text-align: center;
}

.happy-parents h3 {
    font-family: "Amatic SC", cursive;
    color: rgba(74, 74, 74, .85);
    margin: 10px auto;
}

.review-conatiner {
    margin: 5px auto;
    width: 60%;
}

.review {
    color: black;
}

.reviews {
    margin: 15px auto;
    display: flex;
    justify-content: center;
    gap: 22px;
}

.happy-parents h3 {
    margin: 52px auto 24px;
    font-size: 20px;
}

.happy-parents h2 {
    font-size: 26px;
    margin: 15px;
}

.new-events {
    margin: 20px auto;
}

.swiper-pagination {
    margin: 20px 0px 0px;
}

.review p {
    text-align: center;
    margin: 12px auto;
    width: 65%;
}

.review h2 {
    text-align: center;
    font-size: 16px;
    align-self: center;
    margin-top: 8px;
}

.instagram {
    margin-top: 2px;
}

.footer-section-1 {
    margin: 10px auto;
}

.footer-section-1 h3 {
    font-family: "Baloo Chettan 2", cursive;
    font-weight: 400;
    color: #444;
    font-size: 46px;
    line-height: 1.307em;
    margin: 25px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.social-icons-groups {
    display: flex;
}

.h6 {
    font-family: 'Baloo Chettan 2', cursive;
    margin: 10px auto;
    font-size: 22px;
}

.empty--space {
    margin-top: 60px;
}

.sec-container h4 {
    margin: 10px auto;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 26px;
}

.inner-text {
    margin: 10px auto;
    opacity: 0.7;
}

.info-title {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 33px;
}

.e-title-text {
    margin: 10px auto;
    opacity: 0.7;
}

.e-title-text-2 {
    margin: 10px auto;
    opacity: 0.7;
}

.footer-section-1 p {
    opacity: 0.7;
    background: none;
}

.info-date {
    margin: 10px auto;
    font-size: 18px;
    font-family: "amatic Sc";
    opacity: 0.7;
}

.social-icons-groups {
    margin: 15px auto;
}

.opacity {
    opacity: 0.7;
}

.e-title-text {
    display: flex;
    justify-content: left;
    align-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.sidepanel {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 600px;
    top: 0;
    right: -100%;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    font-family: Amatic SC;
    border-bottom: 1px solid #dbdbdb;
    margin: 0px 20px;
}

.sidepanel a .no--border {
    border: none;
}

.sidepanel a:hover {
    color: #fff;
}

.sidepanel .closebtn {
    position: absolute;
    top: -12px;
    right: 9px;
    font-size: 57px;
}

.openbtn {
    font-size: 40px !important;
    cursor: pointer;
    color: #F47647;
    padding: -1px 0px;
    border: none;
    display: flex;
    width: 8%;
    background: none;
    margin: 0 auto;
    max-width: calc(1300px - 40px);
    min-height: 50px;
    justify-content: flex-start;
    align-self: center;
    margin: 0 0 2 4;
    padding-left: 3px;
    margin-right: 10px;
}

@media screen and (min-width: 992px) {
    .flexbox {
        width: 30%;
    }
    .nav-links {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-right: 10%;
    }
    .swiper-button-next,
    .swiper-button-prev {
        background: none;
        display: block;
    }
    /* .new-events {
        flex-direction: row;
    } */
    .openbtn {
        display: none;
    }
}

.edof-wrapper {
    display: flex;
    padding: 20px 14%;
    background-color: #C3E1DB;
}

.upcoming-container {
    display: flex;
    color: black;
    flex-direction: column;
    background-color: #C3E1DB;
    margin: 20px 0 0 0%;
}

.new--even-flex {
    display: flex;
    gap: 66px;
    height: 98px;
    padding: 28px;
    font-family: augustic c;
    width: 188%;
    margin-bottom: 35px;
    border-radius: 14px;
}

.activites-image {
    background: none;
    margin-bottom: 100px;
}

.activies {
    background-color: #C3E1DB;
    margin-bottom: 30px;
}

.activies p {
    color: black;
}

.experience {
    background: none;
}

.creativity {
    background: none;
}

.activites h2,
h3 {
    text-align: left;
    color: black;
    margin-top: 14px;
    font-family: "'Baloo Chettan 2', cursive";
}

.new--even-flex p,
h3 {
    background: none;
}

.data-holder h3 {
    font-size: 22px;
    background: none;
    padding-bottom: 3px;
}

.event-slider-content {
    font-size: 20px;
    background: none;
    font-family: 'Raleway', sans-serif;
}

.info-bottom {
    display: flex;
    gap: 3px;
    font-size: 16px;
    background: none;
    font-family: 'Roboto Condensed', sans-serif;
}

.data-holder {
    margin-top: -12px;
    background: none;
}

.activities-container {
    display: flex;
    flex-direction: column;
    background-color: #C3E1DB;
}

.activities--heading p {
    color: black;
    font-family: Raleway, sans-serif;
    text-align: center;
    margin-top: 15px;
    background: none;
}

.activities--heading h3 {
    margin-top: 33px;
    padding-top: 23px;
    font-family: "Amatic SC";
    margin-left: 6%;
    font-size: 26px;
    font-weight: 300;
}

.activities--heading h2 {
    font-weight: 700;
    margin: 10px 0px 0px 10%;
    background: none;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 30px;
    margin-left: 5%;
}

.activities--heading {
    background-color: #C3E1DB;
}

.activites {
    background-color: #C3E1DB;
}

.activites-image img {
    background: none;
    margin-left: 5%;
}

@media screen and (max-width:480px) {
    .play--button img {
        position: absolute;
        bottom: -32px;
        top: -152px;
        left: -20px;
        right: 21px;
        background: none;
    }
}

@media screen and (max-width:680px) {
    .play--button img {
        position: relative;
        bottom: -32px;
        top: -220px;
        left: -29px;
        right: 11px;
        background: none;
    }
}

@media screen and (min-width:680px) and (max-width:1020) {
    .play--button img {
        bottom: 0px;
        top: 0px;
        left: 0px;
    }
    .event-video a {
        position: relative;
        top: -47%;
        left: 47%;
    }
    .event-play-section {
        width: 59%;
        padding: 0px 4%;
        margin-top: 73px;
        background-color: #fff;
    }
    .elementary-image-2 img {
        margin: -32px auto;
    }
}

@media screen and (min-width: 1020px) {
    .sec-container {
        margin-left: 2%;
    }
    .footer-main-sec {
        flex-wrap: nowrap;
    }
    .empty--space {
        margin-top: 40px;
    }
    .new-events {
        flex-direction: row;
        background-color: #fff;
    }
    .event-text {
        width: 48%;
        padding: 0%;
        margin-top: 164px;
        background-color: #fff;
    }
    .event-play-section {
        width: 59%;
        padding: 0px 4%;
        margin-top: 120px;
        background-color: #fff;
    }
    /* .kids-image img {
        width: 70%;
    } */
    .event-video {
        width: 60%;
    }
    .play--button img {
        position: absolute;
        bottom: -32px;
        top: -501px;
        left: -29px;
        right: 11px;
        background: none;
    }
    .elementary-image-2 img {
        height: auto;
        max-width: 100%;
        border: none;
        box-shadow: none;
        background-color: #fff;
        margin: -42px auto;
        display: block;
        z-index: 0;
        position: absolute;
        background: none;
    }
    .elementary-image-1 {
        height: auto;
        max-width: 100%;
        border: none;
        box-shadow: none;
        background-color: #fff;
        margin: auto;
        display: contents;
        z-index: 0;
        position: absolute;
        background: none;
    }
    .activities-container {
        flex-direction: row;
    }
    .event-play-section {
        width: 59%;
        padding: 0px 4%;
        margin-top: 117px;
        background-color: #fff;
    }
    .elementary-image-2 img {
        margin: -32px auto;
    }
    .activities--heading h3 {
        margin-top: 33px;
        padding-top: 23px;
        font-family: "Amatic SC";
        margin-left: 13%;
        font-size: 26px;
        font-weight: 300;
    }
    .activities--heading h2 {
        font-weight: 700;
        margin: 10px 0px 0px 10%;
        margin-left: 10%;
        background: none;
        font-family: 'Baloo Chettan 2', cursive;
        font-size: 30px;
        margin-left: 13%;
    }
    .activities--heading p {
        color: black;
        font-family: Raleway, sans-serif;
        margin-left: 13%;
        margin-top: 15px;
        background: none;
        text-align: left;
    }
    .new--even-flex {
        width: 128%;
    }
    .activites-image img {
        background: none;
        margin-left: 6%;
        width: 78%;
        margin-top: 8%;
    }
    .activites-image {
        background: none;
        margin-top: 73px;
        width: 80%;
    }
}